h1{
    color: black;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
  }

h2{
    color: black;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
  }

.bodytext{
    color: black;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
 }

.copyright{
    color: black;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
 }

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  font-weight: bold;
  background-color: orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: orange}

.button:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#banner{
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

#container{
  width: 90%;
  margin: 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 30px solid orange;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: orange;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}