<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- need to update this reference when it's moved to a hosting server-->
    <link rel="stylesheet" href="https://solat--jmriddleit.repl.co/static/mystyle.css">
    <title>SOLAT</title>
  </head>
  <body>
    <div id="container">
      <h1>Welcome to SOLAT</h1>
      <!-- need to update this reference when it's moved to a hosting server-->
      <img id="banner" src="https://solat--jmriddleit.repl.co/static/SOLATLOGO.png">
      <h2> About SOLAT</h2>
      <p class="bodytext">
        SOLAT, Salvage Ore Logistics and Transport, is a Star Citizen Organization.
        <!--need to add our about us information here-->
      </p>
      <h2> Our Services</h2>
      <p class="bodytext">
        To Do - Show the services here
        <!--need to add information about what services we offer here-->
      </p>
      <div style="text-align:center;">
        <button class="button">Contact Us</button>
        <!--need to link this button to a contact us page-->
      </div>
      <p class="copyright">
        SOLAT - Copyright 2023
      </p>
    </div>
  </body>
</html>